<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
         <link rel="stylesheet" href="css/styles.css" media="screen">
        <title>Curly Salon</title>
    </head>
    <body>
        <div class="container-fluid jumbotron text-center">
            <h1>Curly Salon</h1>
        </div><hr>
        <div class="container">
            <h2>{{ stylist.getName }}</h2>

            {% if clients is not empty %}
                <h3>Here are {{ stylist.getName }}'s clients:</h3>
                    <div class="well">
                        {% for client in clients %}
                            <h4><strong>{{ client.getName }}</strong></h4>
                            <ul>
                                <li>Phone #: {{ client.getPhone }}</li>
                            </ul>
                            <form action="/clients/{{ client.getId }}/edit" >
                                <button class="btn btn-success" type="submit" name="button">Edit this client</button>
                            </form>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>
                        no clients found
                    </p>
            {% endif %}
            <h3>Add a client</h3>
            <form action='/clients' method='post'>
                <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
                <label for='name'>Client Name:</label>
                <input id='name' name='name' type='text'><br>
                <label for='phone'>Phone #:</label>
                <input id='phone' name='phone' type='text'><br><br>

                <button class="btn btn-primary" type='submit'>Add Client</button><br><br>
            </form>
            <h4><a href="/stylists/{{ stylist.getId }}/edit">Edit this stylist</a></h4>

            <form action="/stylist/{{ stylist.getId}}/clients_delete" method="post">
              <input name="_method" type="hidden" value="delete">

              <button class="btn btn-danger" type="submit">Delete ALL Client for this stylist</button>
            </form>

            <h4><a href='/'>Home</a></h4>
        </div>
    </body>
</html>
